In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Pubs_PhyMatCSBIO2021.csv')
df

,month,pubs_PHY,Field_PHY,pubs_MATH,Field_MATH,pubs_CS,Field_CS,pubs_BIO,Field_BIO,Month
0,1,134,PHY,120,Math,102,CS,2,BIO,Jan
1,2,167,PHY,135,Math,170,CS,6,BIO,Feb
2,3,244,PHY,139,Math,196,CS,9,BIO,Mar
3,4,268,PHY,154,Math,188,CS,7,BIO,Apr
4,5,352,PHY,169,Math,225,CS,12,BIO,May
5,6,431,PHY,171,Math,233,CS,13,BIO,Jun
6,7,528,PHY,206,Math,218,CS,17,BIO,Jul
7,8,518,PHY,170,Math,215,CS,7,BIO,Aug
8,9,722,PHY,185,Math,258,CS,16,BIO,Sep
9,10,780,PHY,177,Math,338,CS,19,BIO,Oct
10,11,638,PHY,197,Math,301,CS,23,BIO,Nov
11,12,1099,PHY,581,Math,772,CS,55,BIO,Dic

In [5]:
df=pd.read_csv('Sample_PhBiCS.csv')
df

     Unnamed: 0                                           abstract  Field
0             0  The existence of black hole horizons has not b...      0
1             1  It is widely believed that Hawking radiation o...      0
2             2  Serial Femtosecond Crystallography at the X-ra...      0
3             3  The compositional, as well as structural asymm...      0
4             4  We revisit the problem of the two-dimensional ...      0
..          ...                                                ...    ...
595         595  Brain signals constitute the information that ...      2
596         596  There is a general trend of applying reinforce...      2
597         597  This paper quantifies the quality of heatmap-b...      2
598         598  Inferring reward functions from demonstrations...      2
599         599  Reconfigurable intelligent surface (RIS) is ve...      2

[600 rows x 3 columns]